<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>316556559956-s2nicgu2rn09k36v6gjhquobfhiff21c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.316556559956-s2nicgu2rn09k36v6gjhquobfhiff21c</string>
	<key>API_KEY</key>
	<string>AIzaSyDucfgsrPIwvDrQh8hTLgM4JKmFXxB6rAw</string>
	<key>GCM_SENDER_ID</key>
	<string>316556559956</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stockApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>stockapp-b0883</string>
	<key>STORAGE_BUCKET</key>
	<string>stockapp-b0883.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:316556559956:ios:3a0dd9b65768208db80fc1</string>
</dict>
</plist>